.navbarDashboard {
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  padding: 20px;
  font-family: poppins;
  height: 40px;
  width: 100%;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.smallPicture img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.connectWallet {
  background-color: #ff9053;
  color: white;
  border-radius: 8px;
  width: 135px;
  height: 25px;
  cursor: pointer;
  font-family: Poppins;
  font-size: 13px;
  font-weight: 500;

}
@media only screen and (max-width: 600px) {
.connectWallet{
  display: none;
}
}
