.courseCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  max-height: 224px;
  margin: 0 auto;
  text-align: center;
}

.courseCard img {
  width: 60%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.courseCard h2 {
  font-size: 16px;
  color: #131313;
  margin-bottom: 20px;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 24px;
}

.continueModule {
  background-color: #ff9053;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  align-items: left;
  width: 80%;
}

.continueModule:hover {
  background-color: #ff5722;
}
.courseInfo{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}