.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
  padding: 10px;
  width: 80%;
  margin-left: 90px;
}

.searchBox {
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  padding: 5px 10px;
  width: 300px;
  color: black;
  background-color: #d5d5d5;
  cursor: pointer;
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.More {
  border: 1px solid #5c5c5c;
  border-radius: 50%;
}

.userSection {
  display: flex;
  align-items: center;
}

.studentPhoto {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
}

.userInfo {
  margin-right: 10px;
}

.userName {
  font-weight: bold;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: center;
}

.userType {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
  text-align: center;
  color: #d5d5d5;
}

.bluebox {
  background-color: #1a3d58;
  color: white;
  margin-top: 20px;
  width: 715px;
  height: 278px;
  padding: 77px 329px 54px 29px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
}

.blueboxContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learn {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 15.23px;
  text-align: left;
}

.naMe {
  font-family: Roboto;
  font-size: 39px;
  font-weight: 700;
  line-height: 45.7px;
  text-align: left;
}

.orange {
  color: orange;
  font-family: Roboto;
  font-size: 39px;
  font-weight: 400;
  line-height: 45.7px;
  text-align: left;
}

.course {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: left;
  margin-top: 20px;
}

.calendarIcon {
  margin-top: 10px;
}

.statistics {
  display: flex;
  width: 715px;
  height: 149px;
  top: 445px;
  left: 310px;
  gap: 36px;
  opacity: 0px;
  margin-top: 20px;
}

.statBox {
  background-color: #eaeaea;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 200px;
  background: #1a3d58;
  color: white;
  border-radius: 10px;
}

.statTitle {
  font-weight: bold;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  text-align: left;
}

.statNumber {
  margin-top: 5px;
  color: #ff9053;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  text-align: left;
}

.side {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: 20px;
  width: 715px;
  height: 149px;
  top: 445px;
  left: 1045px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
  background-color: #f2f2f2;
}

.paymentHistory {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.productDesign {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
}
.paymentTitle {
  font-weight: bold;
  justify-content: space-around;
}

.productInfo {
  display: flex;
  justify-content: space-between;
}

.productName {
  font-weight: bold;
}

.product {
  font-style: italic;
}
.courseEnrolledBox {
  color: white;
  padding: 20px;
  margin-top: 20px;
  background: #1a3d58;
  width: 1029px;
  height: 161px;
  top: 629px;
  left: 310px;
  gap: 0px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
}

.all {
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  line-height: 29.3px;
  text-align: left;
  color: #ff9053;
  width: 30px;
  height: 29px;
  top: 26px;
  left: 599px;
  gap: 0px;
  opacity: 0px;
}

.courseEnrolled {
  width: 177px;
  height: 29px;
  top: 26px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  line-height: 29.3px;
  text-align: left;
}

.inProgress {
  font-weight: bold;
  margin-bottom: 10px;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 500;
  line-height: 29.3px;
  text-align: left;
  width: 128px;
  height: 29px;
  top: 26px;
  left: 840px;
  gap: 0px;
  opacity: 0px;
}

.enrolled {
  display: flex;
  justify-content: space-around;
}

.productName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.progressBar {
  margin-bottom: 10px;
}

.rating {
  margin-bottom: 10px;
}

.stars {
  color: gold;
}

.viewCourse {
  border: 2px solid orange;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.courseDetails {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  border-radius: 6px 0px 0px 0px;
  border: 1px solid;
  opacity: 0px;
  width: 974px;
}
