.students-dashboard{
  width: calc(100vw - 200px);
  margin-left: 200px !important;
}

.dashboard {
  padding: 20px;
  margin-left: 40px;
}

.dashboard-header {
  text-align: left;
  margin-bottom: 20px;
}

.dashboard-header h1 {
  margin: 0;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  color: #25282b;
}

.dashboard-header p {
  color: #25282b;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.header {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.searchBox {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
  border-radius: 10px;
}

.userSection {
  display: flex;
  align-items: center;
}

.studentPhoto {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
