/* .course__description {
  background-color: #041d31;

  display: flex;
  justify-content: space-between;
  gap: 116px;
  padding: 71px 97px 72px 100px;
} */

/* .course__image {
    @apply w-[451px] h-auto;
} */

/* .course__image img {
    @apply max-w-[451px] h-auto rounded-xl;
} */

/* .course__details {
    @apply pt-[9px] pb-[3px];
} */

/* .course__details h1,
.course__details h3,
.course__rating h4 {
  @apply text-white;
  font-family: Poppins;
} */

/* .course__details h1 {
    @apply font-extrabold text-[40px] leading-[60px];
} */

/* .course__general__info {
    @apply pt-2;
} */

/* .course__quick__info {
    @apply pb-6;
} */

/* .course__quick__info h3 {
    @apply font-medium text-base leading-6 max-w-[678px] pb-2;
} */

/* .course__rating {
    @apply w-[298.43px] h-auto flex gap-1 items-center;
} */

/* .course__rating > div {
    @apply flex;
} */

/* .course__rating h4 {
    @apply font-normal text-base leading-[27.2px];
} */

/* .course__rating h5 {
    @apply text-[#ff9053] font-semibold text-sm leading-[23.8px];
} */

/* .students {
    @apply pl-1;
} */

/* .enrollment {
    @apply w-[175px];
} */

/* .enrollment button,
.enrollment h2 {
  @apply leading-5 text-white;
  font-family: Roboto;
} */

/* .enrollment button {
    @apply bg-[#ff9053] font-semibold text-base px-[67px] py-3.5 rounded-lg;
} */

/* .enrollment h2 {
    @apply font-extrabold text-[32px] pt-6;
} */
