.intro {
  width: 837px;
  height: auto;
  background-color: #f5f6fa;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro h4 {
  width: max-content;
  color: #041d31;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.intro h4:last-child {
  padding-right: 16px;
}

.description {
  width: max-content;
  height: auto;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 16px;
  padding-right: 0;
}

.description img {
  width: 17.2px;
  height: 23.41px;
  margin-right: 12px;
}
